#modeSelectNav{
  position: absolute;
  top: 30%;
  left: 35%;
  justify-content: center;
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1vw;
}


#frxstCard, #specterCard, #networkCard, #logCard{
  height: auto;
  max-height: 10vw;
  width: 100%;
  max-width: 7vw;
  border: solid 2px #b0dff4;
  box-shadow: 0 0 30px rgba(176, 223, 244, 0.6);
}

#card-text {
    position: relative;
    top: -67px;
    left: 150px;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}

.screen-overlay {    
  background: linear-gradient(
    #b0def45e,
    #b0def45e 2px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  max-height: 10vw;
  width: 100%;
  max-width: 7vw;
  animation: pan-overlay 22s infinite linear;
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 0%;
  border: solid 2px;
}