body{
  background: #242424;
}

#landingModal{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  min-width: 75%;
  max-height: 53%;
  border: solid 3px #b0dff4;
  z-index: 2;
  background-color: #242424c9;
  display: block;
  color: #b0dff4;
  text-align: center;
  padding: 4px;
}

#landingModal h1 {
  font-family: "Audiowide", serif;
  font-size: 5vw;
  margin-top: -1vw;
}

#landingModal p {
  font-size: 2vw;
  margin-top: -1.5vw;
} 

#landinglogo{ 
  max-width: 15%;
  height: auto;
  position: relative;
  margin-top: 1.5vw;
}

#chattableDiv{
  position: absolute;
  top: 1%;
  margin-right: 93%;
  width: auto;
  height: auto;
  background-color: #b0dff4;
}

#chattableLink{
  max-width: 100%;
  height: auto;
  mix-blend-mode: luminosity;
}

#hexagon-wall{
  height: 100%;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  animation: glowingBreath 8s linear infinite;
}

@keyframes glowingBreath{
  0%{
      filter: hue-rotate(0deg);
      filter: drop-shadow(0px 0px 10px rgba(176, 223, 244, 0));
  }
  50%{
      filter: hue-rotate(360deg);
      filter: drop-shadow(0px 0px 10px #053146);
  }
  100%{
      filter: hue-rotate(0deg);
      filter: drop-shadow(0px 0px 10px rgba(176, 223, 244, 0));
  }
}
          
.wallRow{
  position: relative;
  display: flex;
  margin-top: -1.5vw;
}
  
.wallRow:nth-child(even){
  left: -2.7vw;
  margin-top: -1.5vw;
}
  
.hexagon{
  position: relative;
  height: 5.75vw;
  width: 5.25vw;
  background: rgba(11, 12, 12, 0.6); 
  clip-path: polygon(
    50% 0%, 
    100% 25%, 
    100% 75%, 
    50% 100%, 
    0% 75%, 
    0% 25%
  );
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b0dff4;
  font-size: 1.5vw;
  margin: .1vw;
  
}
  
.hexagon:hover{
  transition: 0s;
  background: rgba(176, 223, 244, .6);
  color: #242424;
  cursor: none;
}
  
.hexagon.active {
  font-weight: 900;
  background: rgba(176, 223, 244, .7);
  color: #242424;
  cursor: default;
}

#orientationOverlay {
  position: fixed;
  z-index: 9999;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #242424;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.overlay-content {
  text-align: center;
}